<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.lesscoding.mapper.AccountPlayerMapper">
    <resultMap id="playerMap" type="net.lesscoding.model.Player">
        <id column="id" property="id" />
        <result column="account_id" property="accountPlayerId" />
        <result column="nickname" property="nickname" />
        <result column="hp" property="hp" />
        <result column="attack" property="attack" />
        <result column="defender" property="defence" />
        <result column="hit" property="hitRate" />
        <result column="flee" property="flee" />
        <result column="combo" property="comboRate" />
    </resultMap>

    <resultMap id="playerVoMap" type="net.lesscoding.model.vo.PlayerVo">
        <id column="id" property="id" />
        <result column="account_id" property="accountId" />
        <result column="nickname" property="nickname" />
        <result column="level" property="level" />
        <result column="region" property="region" />
        <result column="mac" property="mac" />
    </resultMap>
    <update id="addPlayerExp">
        UPDATE tb_account_player
        SET exp = exp + #{addExp},
            update_by = #{updateBy},
            level = (SELECT MAX(level) FROM tb_player_level_exp WHERE need_exp &lt;= exp)
        WHERE id = #{id}
    </update>
    <update id="addPlayerExpBatch">
        <foreach collection="list" item="item" separator=";">
            UPDATE tb_account_player
            SET exp = exp + #{item.addExp},
            update_by = #{item.updateBy},
            level = (SELECT MAX(level) FROM tb_player_level_exp WHERE need_exp &lt;= exp)
            WHERE id = #{item.id}
        </foreach>
    </update>
    <select id="getPlayerBaseAttr" resultMap="playerMap">
        select tb.account_id account_id,
               tb.nickname,
               tb.id,
               tple.level,
               tple.need_exp,
               tple.hp,
               tple.attack,
               tple.defender,
               tple.flee,
               tple.combo,
               tple.hit,
               tple.create_by,
               tple.create_time,
               tple.update_by,
               tple.update_time,
               tple.del_flag
        from tb_account_player tb
        left join tb_player_level_exp tple on tple.level = tb.level
        left join tb_account ac on ac.id = tb.account_id
        where tb.del_flag = false
        and ( tb.id = #{accountPlayerId} or ac.mac = #{mac} )

    </select>

    <select id="getAllPlayer" resultMap="playerVoMap">
        select
            ap.id,
            ap.account_id,
            ap.nickname,
            ap.level,
            tb.region,
            tb.mac
        from tb_account tb
        left join tb_account_player ap on ap.account_id = tb.id
    </select>
</mapper>