<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.lesscoding.mapper.InstanceRecordMapper">
    <select id="getNotCompletedInstance" resultType="net.lesscoding.entity.InstanceRecord">
        select id,
               player_id,
               instance_id,
               challenge_date,
               current_floor,
               success_flag,
               complete_flag,
               create_by,
               create_time,
               update_by,
               update_time,
               del_flag
        from tb_instance_record
        where
            challenge_date = date(now())
          and instance_id = #{instanceId}
          and complete_flag = false
          and player_id = #{playerId}
    </select>
</mapper>