<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.lesscoding.mapper.PlayerWeaponMapper">

    <insert id="insertBatch">
        insert into tb_player_weapon
        value <foreach collection="list" item="item" separator=",">
            (
                #{item.id},
                #{item.playerId},
                #{item.weaponId},
                #{item.addLevel},
                #{item.createBy},
                #{item.createTime},
                #{item.updateBy},
                #{item.updateTime},
                #{item.delFlag}
        )
        </foreach>
    </insert>
    <select id="getPlayerAllWeapon" resultType="net.lesscoding.entity.Weapon">
        select tw.id,
               tw.name,
               tw.intro,
               tw.type,
               tw.grade,
               tw.min_damage,
               tw.max_damage,
               tw.create_by,
               tw.create_time,
               tw.update_by,
               tw.update_time,
               tw.del_flag
        from tb_player_weapon tb
                 left join tb_account_player ap on ap.id = tb.player_id
                 left join tb_weapon tw on tw.id = tb.weapon_id
        <where>
            ap.id = #{playerId}
            <if test="weaponName != null and weaponName != ''">
                and tw.name like '%${weaponName}%'
            </if>
            <if test="grade != null">
                and tw.grade = #{grade}
            </if>
        </where>
    </select>
</mapper>