<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.lesscoding.mapper.TbBossRewardMapper">

	<sql id="tableColumns">
			a.id AS "id",
		a.boss_id AS "bossId",
		a.type AS "type",
		a.number AS "number",
		a.create_by AS "createBy",
		a.create_time AS "createTime",
		a.update_by AS "updateBy",
		a.update_time AS "updateTime",
		a.del_flag AS "delFlag"
	</sql>

</mapper>